{#Todo add my registration form!!!!#}
{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
{% endblock head %}
{% block content %}
    <div class="all_log_in">
        <div class="container py-5">
            <div class="col-md-8 offset-2">

                <h2 class="mb-5">Увійдіть до свого облікового запису</h2>

                <div class="card-body">

                    {% include 'partials/_messages.html' %}

                    <form method="post" action="">
                        <fieldset>
                            {% csrf_token %}
                            <div class="form-box">
                                <div class="form-value">
                                    <h2>Увійти</h2>
                                    {% for fm in form %}
                                        <div class="form-group">
                                            {{ fm.label_tag }}
                                            {{ fm }}
                                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                                        </div>
                                    {% endfor %}
                                    <button class="btn btn-primary" type="submit">Авторизуватися</button>
                                    <div class="register">

                                        Забули пароль? <a href="{% url 'store:password-reset' %}">Скинути зараз</a> <br>
                                        Ще не має облікового запису? <a href="{% url 'store:register' %}">Створити
                                        зараз</a>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                        <div class="exeption">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <p class="alert alert-danger my-3">
                                        {{ error }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}