{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
{% endblock head %}
{% block content %}
    <div class="all_log_in">
        <div class="container py-5">
            <div class="col-md-8 offset-2">


                <div class="card-body">
                    <form method="post" action="">
                        <div class="form-box">
                            <div class="form-value">
                                <h2>Ваш пароль успішно змінено.</h2>

                                <div class="text-center">
                                    Давайте <a href="{% url 'store:profile' %}"> перейдемо до вашого акаунту</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock content %}