{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
{% endblock head %}
{% block content %}
    <div class="all_log_in">
        <div class="container py-5">
            <div class="col-md-8 offset-2">

                {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}


                <div class="card-body">
                    <form method="post" action="">
                        <div class="form-box">
                            <div class="form-value">
                                <h2>Новий пароль успішно встановлено</h2>

                                <div class="text-center">
                                    Давайте <a href="{% url 'store:login' %}"> ввійдемо в акаунт</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}