{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/log_in.css' %}">
{% endblock head %}
{% block content %}
    <div class="all_log_in">
        <div class="container py-5">
            <div class="col-md-8 offset-2">

                {% comment %} <h1 class="mb-5">Password Changed</h1> {% endcomment %}

                <div class="card mb-2" id="forms">
                    <div class="card mb-4" id="forms">
                        <h1>Пароль Змінено</h1>
                        <div class="card-body">
                            <form method="post" action="">
                                <div class="form-box">
                                    <div class="form-value">
                                        <h1>Електронна пошта успішно записана.</h1>

                                        <h6>
                                            Будь ласка, перевірте свою поштову скриньку на наявність посилання для зміни
                                            пароля.
                                        </h6>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}