{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container py-5">
        {% include 'partials/_messages.html' %}

        <div class="jumbotron">
            <h1>{{ request.user.first_name }} {{ request.user.last_name }}</h1>
            <p><strong>Електронна пошта:</strong> {{ request.user.email }}</p>
            <p><strong>Ім'я:</strong> {{ request.user.username }}</p>
            <p><a class="btn btn-primary btn-large" href="{% url 'store:add-address' %}">Додати адрес ></a>
                <a class="btn btn-primary btn-large" href="{% url 'store:add-paying-way' %}">Додати спосіб оплати ></a>
                <a class="btn btn-outline-primary btn-large" href="{% url 'store:orders' %}">Мої замовлення »</a></p>
        </div>


        <div class="row">

            <div class="col-lg-6">
                <div class="card mb-4" id="headings">
                    <div class="card-header">Місце проживання: <span class="float-right"><a
                            href="{% url 'store:add-address' %}">Додайте місце проживання</a></span></div>
                    <div class="card-body">
                        {% if addresses %}
                            {% for address in addresses %}
                                <h4 class="mb-3">Місце проживання {{ forloop.counter }}</h4>

                                <span class="float-right"><a href="{% url 'store:remove-address' address.id %}"><i
                                        class="fas fa-trash-alt small text-muted"></i></a></span>

                                <p>
                                    <strong>Країна: </strong>{{ address.country }} <br>
                                    <strong>Місто: </strong>{{ address.city }} <br>
                                    <strong>Штат: </strong>{{ address.state }} <br>
                                </p>

                                <hr>
                            {% endfor %}
                        {% else %}
                            <div class="text-danger">
                                Місце проживання не додано(
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-4" id="headings">
                    <div class="card-header">Спосіб оплати: <span class="float-right"><a
                            href="{% url 'store:add-paying-way' %}">Додайте спосіб оплати</a></span></div>
                    <div class="card-body">
                        {% if paying_ways %}
                            {% for paying_way in paying_ways %}
                                <h4 class="mb-3">Картка {{ forloop.counter }}</h4>

                                <span class="float-right"><a href="{% url 'store:remove-payingway' paying_way.id %}"><i
                                        class="fas fa-trash-alt small text-muted"></i></a></span>

                                <p>
                                    <strong>Номер карточки: </strong>{{ paying_way.card_number }} <br>
                                </p>

                                <hr>
                            {% endfor %}
                        {% else %}
                            <div class="text-danger">
                                Cпосіб оплати не додано(
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card mb-4" id="tables">
                    <div class="card-header">Замовлення</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Замовлення</th>
                                <th>Статус</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if orders %}
                                {% for order in orders %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ order.product.title }}</td>
                                        <td>
                                            {{ order.status }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td class="text-danger" colspan="3">Ви ще нічого не замовляли.</td>
                                </tr>
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock content %}