.add-article-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

.card {
    border-radius: 15px; /* Add rounded corners to the card */
}

.card-body {
    padding: 2rem;
}

.form-control-file {
    padding: 1rem; /* Adjust the padding for the file input */
}

.btn-primary {
    border-radius: 50px; /* Rounded corners for the button */
    padding: 0.75rem 1.5rem;
    background-color: #0d6efd;
}

.text-muted {
    font-size: 1.1rem; /* Increase text size for the description */
}

.btn-show-password {
    cursor: pointer;
}

.add-article-container {
    margin-bottom: 100px; /* Встановлює відступ між вмістом та футером */
}
