/*Todo place for 1 big advertising(Реклама)*/
/*body {*/
/*    background-image: url("../img/img.png");*/
/*}*/
img {
    width: 75%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.aleart {
    border: red 4px solid;
    padding: 10px;
}

.p-border-yellow {
    border: rgb(207, 178, 11) 4px solid;
    padding: 10px;
}

table {
    margin-top: 50px;
    margin-bottom: 50px;
}