.registration-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}
.btn-show-password {
    cursor: pointer;
}

.login-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}
.btn-show-password {
    cursor: pointer;
}