{% extends 'base.html' %}
{% load static %}
{% block head %}
     <link href="{% static 'css/about.css' %}" rel="stylesheet" type="text/css">
{% endblock head %}
{% block content %}
    <div class="wrapper">
        <img src="{% static "img/header2.png" %}" style="margin-left: 50px;  box-shadow: 8px 8px 16px rgba(32, 32, 32, 0.616);" class="left">
        <div class="right">
            <div class="row">
                <div class="col">
                    <p>Наш магазин пропонує великий вибір велосипедів для будь-якого типу їзди - від гірських
                        велосипедів
                        для екстремальної їзди до шосейних велосипедів для швидкої їзди по дорозі. У нашому магазині ви
                        знайдете все, що вам потрібно для вашої їзди на велосипеді - від аксесуарів та запчастин до
                        зручних
                        велосипедних шоломів та одягу.</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Ми маємо широкий вибір товарів від найкращих виробників, таких як Trek, Giant, Cannondale,
                        Specialized та багатьох інших. Наші фахівці допоможуть вам вибрати відповідний велосипед для вашого
                        стилю їзди та бюджету.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>У нашому магазині ви зможете також відвідати сервісний центр, де наші досвідчені механіки зможуть
                        здійснити ремонт або обслуговування вашого велосипеда.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Не забудьте, що безпека на дорозі є дуже важливою. Ми пропонуємо широкий вибір велосипедних шоломів
                        та захисного одягу, щоб забезпечити максимальну безпеку при їзді.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Наш магазин знаходиться в зручному місці з просторою парковкою для велосипедів, щоб ви могли зручно
                        зробити свої покупки.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Завітайте до нашого магазину "Пронасї" сьогодні та зробіть свій вибір серед широкого асортименту
                        велосипедів та аксесуарів для велосипедів. Наші фахівці завжди готові допомогти вам з будь-якими
                        питаннями та проблемами. До зустрічі у магазині!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock content %}