{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Контакти</h2>
                <p>Наші контактні дані:</p>
                <ul>
                    <li>Адреса: вул. Пушкина, 123, м. Колотушкина</li>
                    <li>Телефон: +380 98 493 00 74</li>
                    <li>Email <a href="https://mail.google.com/" target="_blank">michailo.zaichenko@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <form method="post" action="">
                    {% csrf_token %}
                    <h3>Напишіть нам</h3>
                    <label for="id_feedback">Ваш Email:</label>
                    <input type="email" name="email" class="form-control" placeholder="Введіть ваш email" value="
{{ email }}"
                           maxlength="50" id="id_email">
                    <br>
                    {% for fm in form %}
                        <div class="form-group">
                            {{ fm.label_tag }}
                            {{ fm }}
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Надіслати</button>
                </form>
            </div>
        </div>
    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}