<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Швейна рота</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="/static/useful_things_for_front/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/useful_things_for_front/lightbox2/css/lightbox.min.css">
    <link rel="stylesheet" href="/static/useful_things_for_front/nouislider/nouislider.min.css'">
    <link rel="stylesheet" href="/static/useful_things_for_front/bootstrap-select/css/bootstrap-select.min.css'">
    <link rel="stylesheet" href="/static/useful_things_for_front/owl.carousel2/assets/owl.carousel.min.css'">
    <link rel="stylesheet" href="/static/useful_things_for_front/owl.carousel2/assets/owl.theme.default.css'">
    <link rel="stylesheet" href="/static/css/custom.css'">
    <!-- navbar -->
    <link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/button_back_col.css' %}" rel="stylesheet" type="text/css">
    <!-- navbar -->
    <link rel="stylesheet" href="/static/css/style.blue.css" id="theme-stylesheet">
    <link rel="shortcut icon" href="/static/icons/favicon.png'">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    
</head>
<body>
    <div class="page-holder">
        <header>
            <div class="container px-0 px-lg-3">
                <nav class="navbar navbar-expand-lg py-3 px-lg-0">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation"><i class="fa-solid fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'store:home' %}"><img src="/static/icons/favicon.png" alt="Швейна рота"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'store:main' %}">Як обрати?</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'store:home' %}">Головна</a>
                            </li>
                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#"
                                                             data-toggle="dropdown" aria-haspopup="true"
                                                             aria-expanded="false">Крамниця</a>
                                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                                    {% cache 604800 categorie_list %}
                                        {% if categories_menu %}
                                            {% for cat_menu in categories_menu %}
                                                <a class="dropdown-item border-0 transition-link"
                                                   href="{% url 'store:category-products' cat_menu.slug %}">{{ cat_menu.title }}</a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endcache %}
                                    <hr>
                                    <a class="dropdown-item border-0 transition-link"
                                       href="{% url 'store:all-categories' %}">Всі категорії</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'store:contacts' %}">{% trans "Контакти" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'store:about' %}"> {% trans "Про нас" %}</a>
                            </li>
                            <li>
                                <div id="toggle-theme" class="btn btn-primary">🌣</div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            {% if request.user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'store:cart' %}"> <i
                                        class="fas fa-dolly-flatbed mr-1 text-gray"></i>Кошик<small
                                        class="text-gray">({{ cart_items.count }})</small></a></li>
        
                                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown" href="#"
                                                                 data-toggle="dropdown" aria-haspopup="true"
                                                                 aria-expanded="false"><i class="fas fa-user-alt mr-1
                                                           text-gray"></i>{{ your_account }}</a></a>
        
                                    <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
        
                                        <a class="dropdown-item border-0 transition-link"
                                           href="{% url 'store:profile' %}"> Профіль</a>
                                        <a class="dropdown-item border-0 transition-link"
                                           href="{% url 'store:cart' %}">Кошик</a>
                                        <a class="dropdown-item border-0 transition-link"
                                           href="{% url 'store:orders' %}">Замовлення</a>
                                        <a class="dropdown-item border-0 transition-link" href="
        {% url 'store:password-change' %}">  Змінити пароль</a>
        
                                        <hr>
                                        <a class="dropdown-item border-0 transition-link"
                                           href="{% url 'store:logout' %}">Вийти</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'store:login' %}">Увійти</a>
                                </li>
                                <li class="nav-item"><a class="nav-link"
                                                        href="{% url 'store:register' %}">Створити акаунт</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="container">
            <h1 itemprop="headline">Як обрати велосипед?</h1>
            <div class="row">
                <div class="col-md-8">
                    <div itemprop="text">
                        <!-- begining -->
                        <section>
                            <p class="p-light-grey-text">Життя сучасної людини складно уявити без спорту та
                                велосипед. А останні представлені на просторах магазинів у такій різноманітності, що можна
                                підібрати на будь-який смак та гаманець. Однак для цього важливо знати, як вибрати
                                велосипед. У
                                цій статті ми намагатимемося відповісти на це непросте запитання.</p>
                            <section class="aleart">
                                <p class="p-main-header">Щоб вибрати велосипед, вам потрібно знати:</p>
                                <ul class="ul-nice">
                                    <li>Стиль катання - місто чи бездоріжжя.</li>
                                    <li>Бюджет зазвичай чим більше, тим краще.</li>
                                    <li>Ваш phscn і ваг - від цього залежить розмір рами велосипеда.</li>
                                </ul>
                            </section>
                            <p class=“p-main-header”>Перше питання. Ваш стиль катання.</p>
                            <p class=“p-light-grey-text”>Першим і найважливішим є середовище проживання<br>вашого залізного
                                коня, тобто де ви будете їздити на ньому?</p>
                        </section>
                        <!-- Hike bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">1 Гірські велосипеди</a></h2>
                            <p>Якщо ж ви хочете один байк на всі випадки життя, то ваш шлях лежить у найбільш численну
                                категорію гірських велосипедів. Незважаючи на назву, ці байки хороші не тільки у горах.
                                Завдяки широким шинам (як правило, від 2”) на цьому велосипеді комфортно їздити як по
                                грунтових дорогах, так і по асфальтованим, благо якість останніх у нас не дуже відрізняється
                                від перших ;) Також широкие покрышки мають і високий профиль, який служить додатковою
                                амортизуючою пiдвiскою.</p>
                            <div class="image-diameter">
                                <p>Серед гірських велосипедів вододілом служить діаметр коліс</p>
                                <ul>
                                    <li>29"</li>
                                    <li>27,5"</li>
                                    <li>26"</li>
                                </ul>
                            </div>
                            <div class="container">
                                <img src="https://bikeart.com.ua/wa-data/public/shop/products/22/00/22/images/562/562.650@2x.jpg"
                                    class="img-fluid" alt="">
                            </div>
                            <p>Вже відходячий у історію розмір 26” представлений крайне слабо і майже повністю перекочував у
                                розряд підросткових. Тому рекомендуємо на нього звертати увагу, якщо ви любите раритет і
                                артефакти старовини. Наступним розміром колес є 27.5”. Рекомендуємо ці колеса тим, чий зріст
                                не перевищує позначки в 175 см. Для всіх же інших (від 175 і вище) – найнери – велосипеди з
                                колесами 29”.</p>
                        </section>
                        <!-- Double suspention bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">2 Двопiдвiсні</a></h2>
                            <p>Ще одним диференційованим ознакою горних велосипедів є амортизація: горнi байки бувають
                                хардтейлами (тiльки амортизацiйна вилка) та двопiдвiсками (окрiм вилки є ще й задний
                                амортизатор).</p>
                            <p>
                            <div class="row">
                                <!-- <div class="cell al-center"><img src="files/2020/07_07/11_48/u_files_store_31_162959.jpg"
                                        alt="Хардтейл" /></div> -->
                                <div class="container"><img
                                        src="https://images.prom.ua/3527530207_gornyj-velosiped-dvuhpodves.jpg" 
                                        class="img-fluid"
                                        alt="Двухподвес"/>
                                </div>
                                </p>
                                <p>Безумовно, двопiдвiски зручніше та комфортніше в ходу, а також дозволяють проїхати там,
                                    де хардтейл «скозлить» райдера. Повнопiдвiсна амортизація крім комфорту забезпечує ще й
                                    відмінне зчеплення з трасою. Саме завдяки їй двопiдвiски почувають себе впевнено навіть
                                    там, де немає дороги, а є лише напрямок. При цьому хардтейли легкі в ходу та ефективніше
                                    передають енергію педалювання у швидкість.</p>
                        </section>
                        <!-- City bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">3 Міські та туристичні велосипеди</a></h2>
                            <p>Якщо ж велосипед потрібен для повсякденних побутових потреб (поїздка на роботу, за
                                продуктами і пр.), то варто обирати міський велосипед на дорожних покришках (ширина від
                                1.1” до 1.75” і діаметром 28”), з багажником та/або кошиком, крилами і пiдставкою. Або з
                                можливостью установки всiх цих аксесуарiв.</p>
                            <p>
                                <div class="container">
                                    <img src={% static "img/city_bike.jpg" %}
                                                class="img-fluid"
                                                alt="Міський велосипед">

                                </div>
                            </p>
                        </section>
                        <!-- Electro bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">4 Електровелосипеди</a></h2>
                            <p>Найновішою тенденцією велоіндустрії стали електровелосипеди. Це новий виток еволюції
                                велосипеда, яка дозволяє проїхати райдеру далі, а тренування зробити ефективнішими.
                                Асистуючі електромотори, які не крутять замість вас, а лише допомагають за однiєю з
                                обраних програм. Дозволяють подолати перепади ландшафту без моральних втрат, отримуючи
                                задоволення та зберiгаючи пульс у аеробних межах. Все, що стосувалось звичайних
                                велосипедiв, стосується і електробайкiв. З тiєю лише рiзницею, що електромотор iстотно
                                розширяє можливостi райдера, однак такi велосипеди коштують дорожче. Але про цiну
                                поговоримо пiзнiше.</p>
                            <p>
                                <div class="container">
                                    <img src="https://ebike.in.ua/wp-content/uploads/2021/04/IMG_4325.jpg"
                                    class="img-fluid"
                                        alt="Электровелосипеды"/>
                                </div>
                            </p>
                            <p class=“p-warning”>Не варто думати, що електровелосипед – це просто байк з мотором.
                                Звичайно, у бюджетному сегменті тільки такі й представлені, однак усі брендові
                                велосипеди – це технологічно досконалі байки, які здатні зробити спортсмена сильнiшим, а
                                при поспiшцi на роботу - встигнути і не спiтнiти.</p>
                        </section>
                        <!-- Shoseini bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">5 Шосейнi велосипеди</a></h2>
                            <p>Якщо ви хочете швидкостii вам важлива постiйна i рiвномiрна кардionагрузка, то тут краще
                                шосейника вам нiчого не пiдiйде.</p>
                            <p>
                                <div class="container">
                                    <img src="https://images.prom.ua/3347772624_shosejnij-velosiped-crosser.jpg"
                                    class="img-fluid"
                                    alt="Шоссейные велосипеды"/>
                                </div>
                            </p>
                            <section class="p-border-yellow"><b>Лайфхак:</b> будь-який шосейник програє на грунтах
                                гірняку, а
                                будь-який гірняк не порівняється з шосейником на асфальті.
                            </section>
                        </section>
                        <!-- Gibridni bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">6 Кросовi або гiбриднi велосипеди</a></h2>
                            <p>Однак, слiд розумiти, що шосейний велосипед не пiдiйде для їзди по грунтовим стежкам.
                                Вiдсутнiсть амортизацii та вузькi покришки розтрясуть усе бажання їздити. Для таких
                                цілей є кросові або гібридні велосипеди. Вони мають більшу прохідність, хоч і
                                поступаються шосейникам у швидкості.</p>
                            <p>
                                <div class="container">
                                    <img src="https://velosvit.net/wp-content/uploads/2019/07/AUTHOR-Profile-II-26-cvet-belo-cherno-sinij-rama-15-1024x768.jpg"
                                        class="img-fluid"
                                        alt="Кроссовые или гибридные велосипеды"/>
                                </div>
                            </p>
                        </section>
                        <!-- BMX bikes -->
                        <section>
                            <h2><a href="{% url 'store:all-categories' %}" itemprop="headline">7 Велосипеди BMX</a></h2>
                            <p>Любителям пощекотати нерви слід дивитися в бік BMX, стриту, дертових байків. Вони зібрані
                                на посилених рамах та комплектуючих, на яких просто не захочеться їхати прямо.</p>
                            <p>
                                <div class="container">
                                    <img src="https://15.ie/wp-content/uploads/2023/06/Commencal-BMX-P038-DSC_5087.jpg"
                                        class="img-fluid"
                                        alt="Велосипеды BMX, для дёрта и триала"/>
                                </div>
                            </p>
                            <p>
                            </p>
                            </p>
                        </section>
                        <!-- ending -->
                        <section>
                            <p class=“p-main-header”>Питання друге. Розмір рами.</p>
                            <p>Пропорції тіла у нас різні, тому й носимо різні розміри одягу, і по-різному відсуваємо
                                крісло в автомобілі. Велосипед також нерозривно пов’язаний з нашим тілом, а значить вiн
                                також повинен бути правильного розмiру. І якщо висоту рами можна компенсувати
                                пiдсидiльним штирем, висунувши його сильнiше або навпаки спрятавши поглибше. То довжина
                                рами – константна величина, яку компенсувати крайне складно.</p>
                            <section class="aleart"><b>Увага:</b> при виборi розмiру завжди орiентуйтесь тiльки на свiй
                                зрост.
                                При замовленнi ми самостийно професiйно скоригуємо розмiр вашого велосипеда для вашого
                                комфорту i безпеки.
                            </section>
                        </section>
                        <!-- table -->
                            <br><br>
                            <div class="container">
                                <table class="table table-striped">
                                    <thead>
                                    <tr class="text-center">
                                        <th colspan="4">Таблиця, яка допоможе вам вибрати правильний розмір рами!</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th scope=“col”>Розмір рами, дюйми</th>
                                        <th scope=“col”>Ваш зріст, см</th>
                                        <th scope=“col”>Розмір рами, см</th>
                                        <th scope=“col”>Розмір рами, умовні. од</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>13"</td>
                                        <td class="main">130-145</td>
                                        <td>33</td>
                                        <td>XS (Xsmall)</td>
                                    </tr>
                                    <tr>
                                        <td>14"</td>
                                        <td class="main">135-155</td>
                                        <td>35.6</td>
                                        <td>XS (Xsmall)</td>
                                    </tr>
                                    <tr>
                                        <td>15"</td>
                                        <td class="main">150-160</td>
                                        <td>38.1</td>
                                        <td>S (small)</td>
                                    </tr>
                                    <tr>
                                        <td>16"</td>
                                        <td class="main">150-165</td>
                                        <td>40.6</td>
                                        <td>S (small)</td>
                                    </tr>
                                    <tr>
                                        <td>17"</td>
                                        <td class="main">160-170</td>
                                        <td>43.2</td>
                                        <td>M (medium)</td>
                                    </tr>
                                    <tr>
                                        <td>18"</td>
                                        <td class="main">167-175</td>
                                        <td>45.7</td>
                                        <td>M (medium)</td>
                                    </tr>
                                    <tr>
                                        <td>19"</td>
                                        <td class="main">170-180</td>
                                        <td>48.3</td>
                                        <td>L (Large)</td>
                                    </tr>
                                    <tr>
                                        <td>20"</td>
                                        <td class="main">178-185</td>
                                        <td>50.8</td>
                                        <td>L (Large)</td>
                                    </tr>
                                    <tr>
                                        <td>21"</td>
                                        <td class="main">180-190</td>
                                        <td>53.3</td>
                                        <td>XL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>22"</td>
                                        <td class="main">185-195</td>
                                        <td>55.9</td>
                                        <td>XL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>23"</td>
                                        <td class="main">190-200</td>
                                        <td>58.4</td>
                                        <td>XXL (XLarge)</td>
                                    </tr>
                                    <tr>
                                        <td>24"</td>
                                        <td class="main">195-210</td>
                                        <td>61</td>
                                        <td>XXL (XLarge)</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/button_back_col.js" type="text/javascript"></script>
</div>
</body>
</html>